* {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-style: normal;
  font-size: 14px;
}

/* headings */
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

/* misc elements */
a {
  font-size: 18px;
  color: white;
}

footer {
  background-color: dimgray;
  text-align: left;
}

/* classes */
.copyright {
  font-size: 11px;
  color: white;
}

.flat-iron {
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
